version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: carteira_postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: carteira_digital
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: carteira_redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
